<style>
    .table>thead>tr>th {
        font-size: 10px;
    }
    .table>tbody>tr>td {
        padding: 4px;
        vertical-align: middle;
        font-size: 12px;
    }
</style>
<table id="{{ table.id }}" class="table table-striped" style="{{ table.style }}">
    <thead>
        <tr class="{{ table.header.class }}" style="{{ table.header.style }}">
            {% if table.extensions.select %}
            <th></th>
            {% endif %}
            <th style="display: none"></th>
            {% for col in table.headers %}
                <th {% if col.class %}class="{{ col.class }}"{% endif %} {% if row.style %}style="{{ row.style }}"{% endif %}>{{ col.text|safe }}</th>
            {% endfor %}
        </tr>
    </thead>
</table>
{% if table.paginate %}
    <div class="row">
        <div class="col-md-5">
            <div class="dataTables_info" role="status" aria-live="polite" style="padding-top: 0.85em;">
                当前显示<b>{{ table.paginate.start }}</b>至<b>{{ table.paginate.end }}</b>项  共 <b>{{ table.paginate.total }}</b> 项
            </div>
        </div>
        <div class="col-md-7">
            <div class="dataTables_paginate paging_simple_numbers" id="_player-table_paginate">
                <ul id="_paginate" class="pagination pull-right" style="margin: 2px 0;">
                </ul>
            </div>
        </div>
    </div>
{% endif %}

<script language="javascript">
    $(function () {
       $("#{{ table.id }}")
           .on('init.dt', function () {
               $("label > select").select2({
                    placeholder: {
                        id: 0,
                        text: '-- 请选择 --'
                    },
                    allowClear: false,
                    containerCssClass: 'table-select'
                });
                {% if table.buttons %}
                    var button_row = $("div.dataTables_wrapper div:first-child");
                    var length_col = button_row.children()[0];
                    $(length_col).attr({'class': 'col-md-2'});
                    var button_html = '<div class="col-md-4">';
                    {% for button in table.buttons %}
                        button_html += '<button type="button" class="btn btn-outline {{ button.class|default:'btn-primary' }}" onclick="{{ button.click }}">{{ button.text }}</button>&nbsp;&nbsp;';
                    {% endfor %}
                    button_html += "</div>";

                    $(length_col).after(button_html);
                {% endif %}

                {% if table.paginate %}
                    $("#_paginate").jqPaginator({
                        totalPages: {{ table.paginate.total_pages }},
                        visiblePages: 6,
                        currentPage: {{ table.paginate.current }},
                        first: '<li class="first"><a href="javascript:void(0);">首页<\/a><\/li>',
                        prev: '<li class="prev"><a href="javascript:void(0);">上一页<\/a><\/li>',
                        next: '<li class="next"><a href="javascript:void(0);">下一页<\/a><\/li>',
                        last: '<li class="last"><a href="javascript:void(0);">末页<\/a><\/li>',
                        page: '<li class="page"><a href="javascript:void(0);">\{\{page\}\}<\/a><\/li>',
{#                        onPageChange: function (n) {#}
{#                            $("#demo1-text").html("当前第" + n + "页");#}
{#                        }#}
                    });
                {% endif %}
               $('.tooltip-demo').tooltip({
                    selector: "[data-toggle=tooltip]",
                    container: "body"
               });

           })
           .on('draw.dt', function() {
               {% for init_func in table.on_init %}
                   {{ init_func|safe }}
               {% endfor %}
               $('.tooltip-demo').tooltip({
                   selector: "[data-toggle=tooltip]",
                   container: "body"
               });
           })
           .DataTable(
           {
               columnDefs: [
                   {% if table.extensions.select %}
                   {
                       targets: 0,
                       orderable: false,
                       className: 'select-checkbox',
                       width: "30px",
                       searchable: false,
                       data: null,
                       defaultContent: ''
                   },
                   {% endif %}
                   {% if table.columns %}
                       {% for column in table.columns %}
                           {targets: {{ column.serial }}, data: '{{ column.name }}',
                           {% if column.render %}render: {{ column.render|safe }},{% endif %}
                           {% if column.attrs %}
                               {% for key, val in column.attrs.items %}
                                   {{ key }}: {{ val|safe }},
                               {% endfor %}
                           {% endif %}
                           },
                       {% endfor %}
                   {% endif %}
               ],
                select: {
                    style:    'multi',
                    selector: 'td:first-child'
                   },
               lengthMenu: [[10, 15, 20, 25, 30, 40, 50, -1], [10, 15, 20, 25, 30, 40, 50, "All"]],
               language: {
                    emptyTable: "暂无数据",
                    info: "当前显示<b>_START_</b>至<b>_END_</b>项  共 <b>_TOTAL_</b> 项",
                    lengthMenu: "每页显示 _MENU_ 项",
                    loadingRecords: "正在加载...",
                    search: '<div class="asr bld">_INPUT_<span class="bv search bdb"></span></div>',
                    searchPlaceholder: "搜索...",
                    zeroRecords: "无匹配项",
                    paginate: {
                        "next": "下一页",
                        "previous": "上一页"
                    }
               },
               ajax: "{{ table.ajax }}"
           }
       );
    });
</script>
