{% extends "base.html" %}
{% load static %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-social/bootstrap-social.css' %}"/>
    <link rel="stylesheet" href="{% static 'vendor/datatables/css/dataTables.bootstrap4.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'vendor/datatables/css/select.bootstrap4.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'common/selector2/css/select2.min.css' %}"/>
{% endblock %}

{% block extra_js %}
    {% for script in media.extra_js %}
        {{ script|safe }}
    {% endfor %}
{% endblock %}

{% block content %}
    <div class="row">
    {% include "breadcrumb.html" %}
    </div>
    {% if add_url %}
    <div class="row">
    {% include "navbar_add.html" %}
    </div>
    {% endif %}
    <div class="row" style="margin-top: 20px">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">{{ panel_heading }}</div>
                <div class="panel-body">
                    {% include "includes/table_top_action.html" with top_form=table.top_form %}
                    {% if table.ajax %}
                    {% include 'includes/ajax_table.html' %}
                    {% else %}
                    {% include "table.html" %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="_export_modal" tabindex="-1" role="dialog" aria-labelledby="exportModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="exportModalLabel"></h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="file-name" class="col-sm-2 control-label">文件名</label>
                            <div class="col-sm-10" style="padding-left:0px;">
                                <input type="text" class="form-control" id="_file-name">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-check col-sm-offset-2" style="">
                                <label class="form-check-label">
                                    <input class="form-check-input" value="1" type="checkbox" id="_time" checked> 加时间后缀
                                </label>
                            </div>

                            <small id="_bind_help" class="form-text text-muted  col-sm-offset-2">勾选该选项，则在填写的名称后面加上当前时间，如player_20171012102453.xlsx</small>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取 消</button>
                    <button type="button" id="_export_player_submit" class="btn btn-primary">导 出</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <!-- Modal -->
    <div class="modal fade" id="{{ modal.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel"></h4>
                </div>
                <div class="modal-body">
                    <!-- 动态添加内容 -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取 消</button>
                    <button type="button" id="_game_del_modal_submit" class="btn btn-primary">确 认</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
{% endblock %}

{% block footer_js %}
    <script type="text/javascript" src="{% static 'vendor/datatables/js/jquery.dataTables.js' %}"></script>
    <script type="text/javascript" src="{% static 'common/selector2/js/select2.full.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/datatables/js/dataTables.bootstrap4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/datatables/js/dataTables.select.min.js' %}"></script>
    {% for script in media.js %}
        {{ script|safe }}
    {% endfor %}
{% endblock %}