{% extends "base.html" %}

{% block extra_css %}
    <style>
        .delete-icon-button {
            margin-top: 26px;
        }
    </style>
    {% for css in media.css %}
        {{ css|safe }}
    {% endfor %}
{% endblock %}

{% block footer_js %}
    {% for js in media.js %}
        {{ js|safe }}
    {% endfor %}
{% endblock %}

{% block content %}
    <div class="row">
    {% include "breadcrumb.html" %}
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading"><i class="fa fa-star"> 选择客服查看报告</i></div>
                <div class="panel-body">
                    {% include "form.html" %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <form id="_series_form">
                {% for series in chart_series %}
                <label class="checkbox-inline">
                    <input type="checkbox" checked id="_series{{ series.value }}" value="{{ series.value }}"> {{ series.label }}
                </label>
                {% endfor %}
            </form>
        </div>
        <div class="col-lg-12">
            <div id="_customer-service-chart"></div>
        </div>
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    玩家联系数据
                </div>
                <!-- .panel-heading -->
                <div class="panel-body">
                    <table class="table table-striped" id="_contact-data-table">
                    </table>
                </div>
                <!-- .panel-body -->
            </div>
            <!-- /.panel -->
        </div>
    </div>
{% endblock %}