{% extends "base.html" %}

{% block content %}
    <div id="title_row" class="row">
        <div class="col-lg-12">
            <h1 class="page-header">主面板</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <div id="panel_row" class="row">
        {% for menu in menus %}
            <div class="col-lg-3 col-md-6">
                <div class="panel {{ menu.theme }}">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa {{ menu.icon }} fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">{{ menu.number }}</div>
                                <div>{{ menu.label }}</div>
                            </div>
                        </div>
                    </div>
                    <a href="{{ menu.href }}">
                        <div class="panel-footer">
                            <span class="pull-left">点击进入</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
