<table id="{{ table.id }}" class="table table-striped table-bordered" style="{{ table.style }}">
    <thead>
        <tr class="{{ table.header.class }}" style="{{ table.header.style }}">
            <th style="display: none"></th>
            {% for col in table.headers %}
                <th class="{{ col.class }}" style="{{ row.style }}">{{ col.text }}</th>
            {% endfor %}
        </tr>
    </thead>
    {% if table.tbody %}
        <tbody>
            {% for row in table.tbody %}
                <tr class="{{ row.class }}" style="{{ row.style }}">
                    {% for col in row.columns %}
                        <td class="{{ col.class }}" style="{{ col.style }}">
                            {{ col.text |safe }}
                        </td>
                    {% endfor %}
                    {% if row.actions %}
                    <td>
                        {% include "table_action.html" with actions=row.actions %}
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    {% endif %}
</table>
