{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-social/bootstrap-social.css' %}"/>
    <link rel="stylesheet" href="{% static 'vendor/datatables/css/dataTables.bootstrap4.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'vendor/validator/jquery.validator.css' %}" />
    {% for css in media.css %}
        {{ css|safe }}
    {% endfor %}
    <style>
    .alert {
        padding: 4px 35px 4px 15px;
        margin-bottom: 0;
        margin-top: 4px;
    }
    </style>
{% endblock %}

{% block footer_js %}
    <script src="{% static 'vendor/validator/jquery.validator.js' %}?local=zh-CN"></script>
    {% for js in media.js %}
        {{ js|safe }}
    {% endfor %}
    <script type="text/javascript" src="{% static 'vendor/datatables/js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/datatables/js/dataTables.bootstrap4.min.js' %}"></script>
    <script>
        $(function(){
            // Custom theme
            $.validator.setTheme('bootstrap', {
                validClass: 'has-success',
                invalidClass: 'has-error',
                bindClassTo: '.form-group',
                msgWrapper: 'div',
                formClass: 'n-default n-bootstrap',
                msgClass: 'alert alert-danger alert-dismissable',
                msgMaker: function (opt) {
                    return '<button type="button" class="close" data-dismiss="alert">×</button>' + opt.msg;
                }
            });

            $("#_contact-form").validator({
                rules: {
                    contact_success: function () {
                        // return $("#inputStatus option:selected").text() != "联系成功" ||
                        //    ($("#inputStatus option:selected").text() == "联系成功" && $("#inputQQ").val() != "") ||
                        //    "获取到QQ号码才能设置为联系成功";
                        return $("#inputStatus option:selected").text() == "联系成功";
                    }
                }
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="row">
    {% include "breadcrumb.html" %}
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-yellow">
                <div class="panel-heading"><i class="fa fa-star"> 使用提示</i></div>
                <div class="panel-body">
                1. 玩家的获取是根据导入顺序先后返回的<br>
                2. 在联系玩家之后，修改相关信息，点击提交保存。该玩家将存放在"我的玩家"页面，可以继续联系。<br>
                3. 点击"保存并查看下一个" 或 "下一个" 按钮来获取新的玩家信息。
            </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">玩家 {{ player.account }} 信息</div>
                <div class="panel-body">
                    <form class="form-horizontal" id="_contact-form"
                          data-validator-option="{theme:'bootstrap', timely:1, stopOnError:true}"
                          method="post" action="{% url 'contract_player' %}">
                        {% csrf_token %}
                        <input type="hidden" name="player_id" value="{{ player.id }}" />
                        <input type="hidden" name="form_changed" value="0" />
                        <div class="form-group responsive-utilities-test hidden-on">
                            <label class="col-sm-1 control-label">账 号</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" value="{{ player.account }}" readonly/>
                            </div>
                            <label for="inputUsername" class="col-sm-1 control-label">姓 名</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" name="username" id="inputUsername" placeholder="玩家姓名" {% if player.username %}value="{{ player.username }}"{% endif %} />
                            </div>
                            <label class="col-sm-1 control-label">手 机</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" name="mobile"
                                       id="inputMobile" value="{{ player.mobile|default:'' }}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputQQ" class="col-sm-1 control-label">QQ 号码</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" name="qq" id="inputQQ"
                                       data-rule="required(contact_success); qq"
                                       data-msg-contact_success="当获取到QQ号码时，才可以标记为联系成功！"
                                       placeholder="QQ" {% if player.qq %}value="{{ player.qq }}"{% endif %} />
                            </div>
                            <label for="inputStatus" class="col-sm-1 control-label">标记状态</label>
                            <div class="col-sm-3">
                                <select id="inputStatus" name="status" class="form-control" kind="form-select">
                                    <option></option>
                                    {% for s in status %}
                                        <option value="{{ s.value }}" {% if s.selected %}selected{% endif %}>{{ s.label }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <label class="col-sm-1 control-label">最近登录游戏</label>
                            <div class="col-sm-3">
                                 <select id="loginGame" name="last_login_game" class="form-control" kind="form-select">
                                    <option></option>
                                    {% for g in game_options %}
                                        <option value="{{ g.value }}" {% if g.selected %}selected{% endif %}>{{ g.label }}</option>
                                    {% endfor %}
                                </select>
                                <small id="game_help" class="form-text text-muted">如果没有您要选择的选项，请做备注，并通知管理员添加</small>
{#                                <p class="form-control-static">#}
{#                                    <span class="label label-info static-p">{{ login_info.game_name|default:'--' }}</span>#}
{#                                </p>#}
                            </div>
{#                            <div class="col-sm-1">#}
{#                                <button type="button" class="btn btn-primary btn-circle">#}
{#                                    <i class="fa fa-plus-circle"></i>#}
{#                                </button>#}
{#                            </div>#}
{#                            <label class="col-sm-1 control-label">锁定玩家</label>#}
{#                            <div class="col-sm-1">#}
{#                                <div class="checkbox">#}
{#                                    <label>#}
{#                                        <input name="locked" value="1" {% if player.locked %}checked{% endif %} type="checkbox"/>#}
{#                                    </label>#}
{#                                </div>#}
{#                            </div>#}
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label">所属渠道</label>
                            <div class="col-sm-1">
                                <p class="form-control-static">
                                    <span class="label label-info static-p">{{ player.come_from|default:'--' }}</span>
                                </p>
                            </div>
                            <label class="col-sm-1 control-label">充值次数</label>
                            <div class="col-sm-1">
                                <p class="form-control-static">
                                    <span class="label label-info static-p">{{ player.charge_count|default:'暂无数据' }}</span>
                                </p>
                            </div>
                            <label class="col-sm-1 control-label">充值总额</label>
                            <div class="col-sm-1">
                                <p class="form-control-static">
                                    <span class="label label-info static-p">{{ player.charge_money_total|default:'0.0' }}元</span>
                                </p>
                            </div>
                            <label class="col-sm-1 control-label">登录时间</label>
                            <div class="col-sm-1">
                                <p class="form-control-static">
                                    <span class="label label-info static-p">{{ player.login_time|default:'--' }}</span>
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputNotes" class="col-sm-1 control-label">备 注</label>
                            <div class="col-sm-11">
                                <textarea class="form-control" rows="3" name="notes" id="inputNotes" placeholder="{{ note_info|safe }}"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label">充值记录</label>
                            <div class="col-sm-11">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">注册游戏&充值记录</div>
                                    <div class="panel-body">
                                        {% include "table.html" %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-1 col-sm-11">
                                <button type="button" onclick="save('{% url 'ajax_contact_player' %}');"
                                        class="btn btn-primary btn-sm btn-outline ">保&nbsp;&nbsp;&nbsp;&nbsp;存</button>
                                <button type="button"
                                        onclick="save_and_next('{% url 'ajax_contact_player' %}', '{% url 'contract_player' %}?current={{ player.id }}')"
                                        class="btn btn-success btn-sm btn-outline ">保存并查看下一个</button>
                                <button type="button" class="btn btn-info btn-sm btn-outline pull-right"
                                        onclick="jump_to('{% url 'contract_player' %}?current={{ player.id }}');"
                                >下一个</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}