ol.breadcrumb {
    background-color: #343a40 !important;
    min-height: 40px;
    font-size: 15px;
    font-style: italic;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
}

.navbar-light {
    background-color: #e3f2fd;
}

.panel-footer {
    background-color: white;
}

.pager {
    margin: 0;
}

.navbar-brand>img {
    display: inline;
}

.navbar-brand {
    padding: 6px 15px;
}

.static-p {
    font-size: 14px;
    margin-bottom: 4px;
    font-weight: normal;
}