ol.breadcrumb {
    background-color: #343a40 !important;
    min-height: 40px;
    font-size: 15px;
    font-style: italic;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
}

.navbar-light {
    background-color: #e3f2fd;
}

.panel-footer {
    background-color: white;
}

.pager {
    margin: 0;
}

.navbar-brand>img {
    display: inline;
}

.navbar-brand {
    padding: 6px 15px;
}

.static-p {
    font-size: 14px;
    margin-bottom: 4px;
    font-weight: normal;
}


/* custom css */
a.delete {color: #2d4373}
a:hover.delete {color: #5897fb}
a.edit {color: #0c0c0c}
a:hover.edit {color: #000000}
a:hover.play {color: #0056b3}
a.play {color: #007bff}
a.download {color: green}
a:hover.download {color: darkgreen}
a.contact {color: #3f903f}
a:hover.contact {color: #4cae4c}