.bottom-border {
    padding-bottom: 15px;
    border-bottom: 1px dotted #5cb85c;
    /*border-bottom-width: 1px;*/
    /*border-bottom-style: dotted;*/
    /*border-bottom-color: rgb(204, 204, 204);*/
    margin-bottom: 30px;
}

.previous-border {
    padding-bottom: 30px;
    border-bottom: 1px dotted #5cb85c;
    margin-bottom: 15px;
}

.delete-icon-button {
    margin-top: 26px;
}
